.pio
.vscode
### jwc 25-1123-1920 Still wish to track: libraries/Apriltag_library_for_Arduino_ESP32

### jwc 25-1127-1030 GDevelop:
###
*.json.autosave
*.JSO.autosave
99Z-ARCHIVE-BAD/*

### venv/
venv/
examples/Camera_Screen_AprilTag__Serial_With_Microbit-NOW/02-Ubuntu-Server_Hub/venv/

### jwc 25-1205-0300 auto-start servers & clients
**/.launch_*.sh
**/*.backup
**/*.bak*
**/*.diff
**/*.patch


