### jwc 25-1123

.pio
.vscode
### jwc 25-1123-1920 Still wish to track: libraries/Apriltag_library_for_Arduino_ESP32

### jwc 25-1127-1030 GDevelop:
###
*.json.autosave
*.JSO.autosave

### jwc 25-1207-1140 Large snapshot files that exceed GitHub's 100MB limit
12i-LilyGo-AMOLED-Series-SNAPSHOT-*.zip
### jwc 25-1207-0900 
###
### KWC 25-1207-0920 \/\/ 9Z-ARCHIVE-BAD/*
### KWC 25-1207-0920 \/\/ */99-ARCHIVE-GOOD/*
**/*ARCHIVE**/


### venv/
###
venv/
examples/Camera_Screen_AprilTag__Serial_With_Microbit-NOW/02-Ubuntu-Server_Hub/venv/

### jwc 25-1205-0300 auto-start servers & clients
###
**/.launch_*.sh
**/*.backup
**/*.bak*
**/*.diff
**/*.patch

### jwc 25-1205-1520 Ignore unzipped export folders but keep zip files
###
# Ignore directories that start with 'export-'
**/export*/
# But force-track any export zip files
!**/export*.zip
### jwc y # But force-track the current GDevelop game server folder
### jwc y !11k-25-1202-1330--25-1127-0950-E32_SmartCam-ToUbuntuServerHub-ToGdevelop-WebSocket-NOW/export-Jwc--Gdevelop_Html_Server-NOW/
### jwc y !11k-25-1202-1330--25-1127-0950-E32_SmartCam-ToUbuntuServerHub-ToGdevelop-WebSocket-NOW/export-Jwc--Gdevelop_Html_Server-NOW/**
# But force-track any export Suffix_'NOW'folder for current hosting
!**/export*NOW
